h1 {
    text-align: center;
    margin-bottom: 40px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid $gray;
    &.low {
        background-color: $green;
    }
    &.medium {
        background-color: $yellow;
    }
    &.hard {
        background-color: $red;
    }
    &.btn-add {
        width: 100%;
    }
}

.todos {
    width: 60%;
}

.add-todo {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            font-size: 18px;
            width: 30px;
            height: 30px;
        }
    }

    input, textarea {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
    }

    textarea {
        resize: none;
    }

    .btn-add {
        margin-top: 40px;
    }
}

.buttons-priority {
    .btn:not(:last-child) {
        margin-right: 15px;
    }
    .btn {
        border: 2px solid transparent;
        &.active {
            border: 2px solid black;
        }
    }
}


.todo-item {
    padding: 15px 15px 1px 30px;
    border: 1px solid black;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 15px;
        background-color: $green;
        border-right: 1px solid black;
    }

    &__title {
        margin-top: 0;
        display: flex;
        align-items: center;
        font-size: 20px;

        input {
            margin-right: 15px;
            cursor: pointer;
            position: relative;
            top: 2px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        svg {
            width: 20px;
        }
    }

    &__button-return {
        font-size: 22px;
    }

    &.low {
        &::before {
            background-color: $green;
        }
    }

    &.medium {
        &::before {
            background-color: $yellow;
        }
    }

    &.hard {
        &::before {
            background-color: $red;
        }
    }
}


.tabs {
    &__content {
        border: 2px solid $gray;
        padding: 20px;
    }

    .btn {
        border-radius: 0;
        border: 2px solid $gray;
        border-bottom: 0;

        &.active {
            background-color: $gray;
        }
    }

    .btn:not(:last-child) {
        border-right: 0;
    }
}