<template>
<form class="add-todo" @submit="addTodo($event)">
    <h3 class="add-todo__title">
        Добавление задачи
    </h3>
    <input type="text" placeholder="Название" v-model="todo.title" required>
    <textarea rows="3" placeholder="Описание" v-model="todo.description" required></textarea>
    <div class="buttons-priority">
        <button type="button" @click="todo.priority = 1" class="btn low" :class="{active: todo.priority === 1}">Неважно</button>
        <button type="button" @click="todo.priority = 2" class="btn medium" :class="{active: todo.priority === 2}">Срочно</button>
        <button type="button" @click="todo.priority = 3" class="btn hard" :class="{active: todo.priority === 3}">Очень срочно</button>
    </div>
    <button class="btn btn-add">Добавить задачу</button>
</form>
</template>

<script>
export default {
    props: {
        todo: {
            type: Object,
            required: true
        }
    },
    methods: {
        addTodo($event) {
            this.$emit('addTodo', $event)
        }
    }
}
</script>
