<template>
<form class="add-todo" @submit="addEditTodo($event)" >
    <h3 class="add-todo__title">
        Изменение задачи
        <button type="button" @click="hideEdit()">✘</button>
    </h3>
    <input type="text" placeholder="Название" v-model="editableTodo.title">
    <textarea rows="3" placeholder="Описание" v-model="editableTodo.description"></textarea>
    <div class="buttons-priority">
        <button type="button" @click="editableTodo.priority = 1" class="btn low" :class="{active: editableTodo.priority === 1}">Неважно</button>
        <button type="button" @click="editableTodo.priority = 2" class="btn medium" :class="{active: editableTodo.priority === 2}">Срочно</button>
        <button type="button" @click="editableTodo.priority = 3" class="btn hard" :class="{active: editableTodo.priority === 3}">Очень срочно</button>
    </div>
    <button class="btn btn-add">Изменить задачу</button>
</form>
</template>


<script>
export default {
    props: {
        editableTodo: {
            type: Object,
            required: true
        },
    },
    methods: {
        addEditTodo($event) {
            this.$emit('addEditTodo', $event)
        },
        hideEdit() {
            this.$emit('hideEdit')
        }
    }
}
</script>