<template>
<div class="todo-item" :class="{ low: todo.priority === 1, medium: todo.priority === 2, hard: todo.priority === 3 }">
    
    <div class="todo-item__content">
        <h4 class="todo-item__title">
            <input id="checkbox" type="checkbox" :checked="todo.done" @click="changeTodoStatus()"> {{ todo.title }}
        </h4>
        <p class="todo-item__description">
            {{ todo.description }}
        </p>
    </div>

    <div class="todo-item__buttons">
        <button @click="editTodo(todo)" v-if="!todo.done">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                <path d="M55.736 13.636l-4.368-4.362a2.308 2.308 0 0 0-1.636-.677c-.592 0-1.184.225-1.635.676l-3.494 3.484 7.639 7.626 3.494-3.483a2.305 2.305 0 0 0 0-3.264zM21.922 35.396l7.64 7.627 21.045-21.006-7.64-7.627zM20.273 37.028l-1.631 9.252 9.271-1.626z" />
                <path d="M41.393 50.403H12.587V21.597h20.329l5.01-5H10.82a3.243 3.243 0 0 0-3.234 3.234V52.17a3.243 3.243 0 0 0 3.234 3.234h32.339a3.243 3.243 0 0 0 3.234-3.234V29.049l-5 4.991v16.363z" /></svg>
        </button>

        <button @click="removeTodo(todo.key)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 137">
                <path d="M75.6 44.8v73c0 3.4-2.8 6.2-6.2 6.2H21.3c-3.4 0-6.2-2.8-6.2-6.2v-73h60.5zm-15.7 8.1v62.8h3.6V52.9h-3.6zm-16.3 0v62.8h3.6V52.9h-3.6zm-16.3 0v62.8h3.6V52.9h-3.6zm4-25v-5.2c0-3.3 2.6-5.9 5.9-5.9h16.4c3.3 0 5.9 2.6 5.9 5.9v5.2h18.1c3.4 0 6.2 2.8 6.2 6.2v4.3H7V34c0-3.4 2.8-6.2 6.2-6.2h18.1v.1zm5.9-7.1c-1 0-1.8.8-1.8 1.8v5.2h20.1v-5.2c0-1-.8-1.8-1.8-1.8H37.2z" />
                <path id="_x3C_Slice_x3E__100_" fill="none" d="M0 0h98v137H0z" /></svg>
        </button>

    </div>
</div>
</template>

<script>
export default {
    props: {
        todo: {
            type: Object,
            required: true
        }
    },
    methods: {
        editTodo(todo) {
            this.$emit('editTodo', todo)
        },
        removeTodo(key) {
            this.$emit('removeTodo', key)
        },
        changeTodoStatus() {
            this.todo.done = !this.todo.done;

            let todosLocalstorage = JSON.parse(localStorage.getItem('todos'));
            for (let item of todosLocalstorage) {
                if (item['key'] === this.todo.key) {
                    item.done = this.todo.done;
                }
            }

            localStorage.setItem('todos', JSON.stringify(todosLocalstorage));
        }
    }
}
</script>
