<template>
<div class="container">
    <h1>Список задач</h1>
    <div class="wrapper">
        <aside class="aside">
            <AddTodo :todo="todo" @addTodo="addTodo($event)" />
            <ChangeTodo :editableTodo="editableTodo" @addEditTodo="addEditTodo($event)" @hideEdit="hideEdit()" v-if="showEdit" />
        </aside>

        <div class="todos">
            <div class="tabs">
                <div class="tabs__button-wrap">
                    <button @click="tab = 'done'" class="btn" :class="{active: tab === 'done'}">Текущие задачи</button>
                    <button @click="tab = 'unfinished'" class="btn" :class="{active: tab === 'unfinished'}">Выполненные задачи</button>
                </div>

                <div class="tabs__content">
                    <div class="current-todos" v-if="tab === 'done'">
                        <p v-if="unfinishedTodo.length === 0">Нет текущих задач</p>
                        <article v-for="todo of unfinishedTodo" :key="todo.key">
                            <TodoItem :todo="todo" @editTodo="editTodo(todo)" @removeTodo="removeTodo(todo.key)" />
                        </article>
                    </div>

                    <div class="done-todos" v-if="tab === 'unfinished'">
                        <p v-if="doneTodo.length === 0">Нет выполненных задач</p>
                        <article v-for="todo of doneTodo" :key="todo.key">
                            <TodoItem :todo="todo" @editTodo="editTodo(todo)" @removeTodo="removeTodo(todo.key)" />
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import AddTodo from '@/components/AddTodo'
import ChangeTodo from '@/components/ChangeTodo'
import TodoItem from '@/components/TodoItem'

export default {
    name: 'App',
    components: {
        AddTodo,
        ChangeTodo,
        TodoItem
    },
    data() {
        return {
            tab: 'done',
            showEdit: false,
            todo: {
                title: '',
                description: '',
                priority: null,
                done: false,
            },
            editableTodo: {
                title: '',
                description: '',
                priority: null,
                done: false,
            },
        }
    },
    created() {
        this.$store.commit("addTodoFromLocalstorage");
    },
    computed: {
        unfinishedTodo() {
            return this.$store.getters.unfinishedTodo
        },
        doneTodo() {
            return this.$store.getters.doneTodo
        }
    },
    methods: {
        addTodo(evt) {
            evt.preventDefault();

            let todo = {};

            Object.assign(todo, this.todo);

            todo.key = Math.random() * 500;

            this.$store.commit("addTodo", todo);

            this.todo.title = ''
            this.todo.description = ''
            this.todo.priority = null

        },
        removeTodo(key) {
            this.$store.commit("removeTodo", key)
        },

        editTodo(todo) {
            Object.assign(this.editableTodo, todo);
            this.showEdit = true;
        },

        addEditTodo(evt) {
            evt.preventDefault();
            this.$store.commit("addEditTodo", this.editableTodo)

            this.editableTodo = {};
            this.showEdit = false;

        },

        hideEdit() {
            this.showEdit = false;
        }
    },

}
</script>
